<div class="span12">
	<div class="hero-unit center">
		<%= link_to signup_path, class:'btn btn-success', "data-disable-with"=> "Please Wait..." do %>
			<i class="icon-plus-sign icon-white"></i> New User? Sign Up Now!
			<% end %>

		<%= link_to cs_path, class:'btn btn-success', "data-disable-with"=> "Please Wait..." do %>
			<i class="icon-calendar icon-white"></i> Change Schedule
			<% end %>
	</div>
</div>
