
<div class="span12">
<h4><%= @user.fullname %></h4>
<dl class="dl-horizontal">
	<dt>Name</dt>
  		<dd><%= @user.fullname %></dd>
	 <dt>Email</dt>
  		<dd><%= mail_to(@user.email, @user.email) %></dd>
  	<dt>Approval Groups</dt>
  		<% @user.roles.each do | r | %>
			<%if r.approvalgroup %>
				<dd><%= r.name %></dd>
			<% end %>
		<% end %>
</dl>
</div>