<script>
$(document).ready(function() {

    // page is now ready, initialize the calendar...

    $('#calendar').fullCalendar({
        // put your options and callbacks here
        aspectRatio: 2.3,
        theme: true,
        firstDay: 1,
        weekMode: 'liquid',
		events: {
		        url: '/schedule.json',
		        type: 'GET',
		        error: function() {
		            alert('there was an error while fetching events!');
		        },
		        color: 'yellow',   // a non-ajax option
		        textColor: 'black', // a non-ajax option
		        borderColor: 'grey'
		    },


    })

});
</script>
<div class="span12">
	<div id='calendar'></div>
</div>
<div class="span12">
	<div class="demo-new">New</div>
	<div class="demo-seekapr">Seek Approval</div>
	<div class="demo-onhold">On Hold</div>
	<div class="demo-approved">Approved</div>
	<div class="demo-closed">Closed</div>
	<div class="demo-downtime">Downtime</div>
</div>