/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require bootstrap-wysihtml5

 */
 body { 
    padding-top: 65px; 
}

.mybrand {
	font-family: 'Lobster Two', cursive;
}

.center {
  text-align: center;
}

.control-label {
/*	font-weight: bold; */
}

.pretty th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}
.pretty th .asc { 
  background-image: url(/up_arrow.gif); 
}

.pretty th .desc { 
  background-image: url(/down_arrow.gif); 
}
.notify-badge {
background-color:red; /* you could use a background image if you'd like as well */
    color:light-grey;
    font-weight:bold;
    width:20px;
		height:20px;
    text-align: center;
    padding:1px 2px 1px 2px;
    border:1px solid black;
    border-radius:3px;
    box-shadow:1px 1px 1px gray;
}
.approval-container {
   border: 1px solid #dddddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 5px;
  margin-bottom: 10px
}
.approval-role {
  text-align: center;
  vertical-align: middle;
  font-weight: bold;

  }

.approval-buttons {
  padding-top: 10px;
}

.cal-downtime {
  font-weight: bold;
  color: "#8A0404"
}